<body>
<h1> Global Warming is REAL </h1>
<p>Climate change includes both global warming driven by human-induced emissions of <strong>greenhouse gases</strong> and the resulting large-scale shifts in weather patterns.</p>

<p> Ice cores drawn from Greenland, Antarctica, and tropical mountain glaciers show that Earth’s climate responds to changes in greenhouse gas levels. Ancient evidence can also be found in tree rings, ocean sediments, coral reefs, and layers of sedimentary rocks. This ancient, or paleoclimate, evidence reveals that current warming is occurring roughly ten times faster than the average rate of ice-age-recovery warming. <strong>Carbon dioxide from human activity is increasing more than 250 times faster than it did from natural sources after the last Ice Age</strong></p>

 <strong> If you don't believe me then check out this website below:</p>
<a href=https://climate.nasa.gov/evidence//><strong>Climate Change: How Do We Know?</strong></a>

<h2><strong> How at the Images of Global warming<strong></h2>
<img src="https://climate.nasa.gov/system/content_pages/main_images/1320_effects-image.jpg">

<h2><strong> Look that these Global warming Facts<strong></h2>
<img src="https://climate.nasa.gov/system/resources/detail_files/26_ipcc_2_538px.jpg">


</body>